$main-bg: #2e4f54;
$secondary-bg: #fff;
$main-color: #588087;
$secondary-color: #0c2023;
$border: 1px solid #bebebe;
$p-lg: 1rem;
$p-md: 0.75rem;
$p-sm: 0.5rem;
$m-lg: 1rem;
$m-md: 0.75rem;
$m-sm: 0.5rem;
$g-lg: 1rem;
$g-md: 0.75rem;
$g-sm: 0.5rem;
